{% extends "base.html" %}
{% block content %}
<section class="col-md-3">
{% include "catalog-category-list.html" %}
</section>
<section class="col-md-9">
<h2>Latest additions</h2>
<ul>
{% for item in latest %}
<li><a href="{{ url_for('catalog.show_item',category_name=item.category,item_name=item.name) }}">{{ item.name }}</a> (<a href="{{ url_for('catalog.list_category',category_name=item.category) }}" class="text-capitalize">{{item.category}}</a>)</li>
{% endfor %}
</ul>
</section>
{% endblock %}