{% extends "base.html" %}
{% block content %}
<div id="g-btn" data-onsuccess="onSignIn"></div>
<div class="g-signin2" data-onsuccess="onSignIn" data-onload="false"></div>
<script>
function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;
    qs = 'token=' + id_token + '&csrftoken={{ session.csrf }}&provider=google'
    $.ajax({
      type: 'POST',
      url: '/token',
      data: {
        'token': id_token,
        'csrftoken': '{{session.csrf}}',
        'provider': 'google'
      },
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
            $('#result').html('Logged in using Google credentials! Redirecting. . .')
            setTimeout(function() {
                window.location.href = "/";
            }, 3000);
        } 
      },
      error: function(result) {
            $('#result').html('Failed to login.')
            signout()
      }
    });
}
</script>
<div id="result"></div>
{% endblock %}
{% block scripts %}
{% endblock %}